{% extends 'layout/base.html' %}
{% block title %}Đăng nhập tài khoản{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-5 mt-5">
        <div class="card shadow-lg p-4">
            <h2 class="text-center mb-4">Log In</h2>
            <form method="POST" action="">
                {{ form.hidden_tag() }}
                <div class="mb-3">
                    <label class="form-label">{{ form.username.label.text }}</label>
                    {{ form.username(class="form-control") }}
                    {% for error in form.username.errors %}
                        <span class="text-danger">{{ error }}</span>
                    {% endfor %}
                </div>
                <div class="mb-3">
                    <label class="form-label">{{ form.password.label.text }}</label>
                    {{ form.password(class="form-control") }}
                    {% for error in form.password.errors %}
                        <span class="text-danger">{{ error }}</span>
                    {% endfor %}
                </div>
                <div class="form-check mb-3">
                    {{ form.remember(class="form-check-input") }}
                    <label class="form-check-label">{{ form.remember.label.text }}</label>
                </div>
                <div class="d-grid gap-2">
                    {{ form.submit(class="btn btn-primary btn-lg mt-3") }}
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}